body {
	width: 100%;
	margin: 0;
	background-color: #ECEBEB;
	font-family: Verdana;
}
#header {
	width: 100%;
	margin: auto;
	background-color: #7AAE2A;
	margin-bottom: 20px;
	position: fixed;
	top: 0;
	padding: 10px;
	box-shadow: 0 4px 2px -2px gray;
	opacity: 0.8;
}
#content{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	box-sizing:border-box;
	box-shadow:0 0 25px black;
	border-radius:10px;
	background-color: white;
	padding:20px;
}

h1{
	text-shadow:2px 5px green;
	font-size: 50px;
	text-align: center;
}

hr{
	height: 5px;
	background-color: #7aae2a;
	border: 0;
}
#top-content{
	width: 100%;
	min-height: 500px;
	background-image:url("bg2.jpg");
	background-size:100% 100%;
	background-position: 0px 0px;
	
}
#nav-top{
	width: 100%;
	background-color: #BAFA55;
	opacity:0.5;
	text-align: center;
	margin-bottom: 120px;
}
#nav-top ul{
	list-style-type: none;
	padding: 0;
	
}

#nav-top ul li{
	display: inline-block;
	border-right: 1px solid #7aae2a;
	padding: 20px 40px;
}

#nav-top ul li:last-child{
	border-right: none;
}

#nav-top ul li a {
	color: #1F7031;
	text-decoration: none;
}
#nav-top ul li a:active {
	color: #fff;
}
#nav-top ul li a:visited {
	color: #374B68;}
	
#nav-top ul li a:HOVER {
	color: #fff;
	background-color: #405A17;
	box-sizing: border-box;
}

#quote{
	background-color: white;
	opacity:0.3;
	
	width: 100%;
	font-size: 25px;
	color: #48651D;
	font-weight: bold;
	padding:70px 0px;
}
#main-content {
    margin: auto;
    padding: 30px 0;
    width: 80%;
}
.name{
	font-style: italic;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
}
#picture{
	width: 30%;
	float: left;
}

#pic{
	transition: transform 0.5s ease-in;
}
#pic:HOVER{
	transform: rotate(360deg);
}
#pic-desc{
	border: 5px solid #48651D;
	border-radius:20px;
	padding: 20px;
	box-sizing:border-box;
	width:70%;
	margin-top: 100px;
	float:right;
}
#pic-desc p.center{
	text-indent: 25px;
}
#pic-desc p.center::FIRST-LETTER {
	font-size: 50px;
	color:  #7aae2a;
	font-weight: bold;	
}